/* styles */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=The+Nautigal:wght@400;700&display=swap');
html {
    scroll-behavior: smooth;
}

:root {
    --pink: #4b0023;
    --hot-pink: #F94892;
    --light-pink: #FFA1C9;
    --dark-pink: #E60965;
    --black-pink: #770038;
    --cream: #FBE5E5;
    --shadow-black-100: 0 .35rem 1rem rgba(0,0,0,0.2);
    --black-900: #000;
    --black-400: #876478;
    --black-100: #ffb7d6;
    --black-alpha-100: rgba(0,0,0,0.05);
}
/* Body */

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    overflow-x: hidden;
    background-color: var(--cream);
    text-align: center;
}

h1 {
    color: var(--dark-pink);
    padding-bottom: 1rem;
}

hr {
    margin: auto;
    border-style: none none dotted;
    opacity: .3;
    border-color: var(--light-pink);
    height: .125rem;
    width: 5%;
    border-bottom-width: .4rem;
    padding-top: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--hot-pink);
    /* border-style: none; */
    text-decoration: none;
    transition: .25s;
    
}
a:hover {
    color: rgb(255, 151, 194);
    transition: .25s;

}
a:active {
    border-bottom-style: line;
    border-bottom-width: .3rem;
    border-color: var(--light-pink);
}

/* section {
    padding: 1rem;
} */

/* Navbar */

.navbar {
    background-color: var(--pink);
    display: flex;
    height: 2rem;
    border: .015rem solid black;
    justify-content: center;    
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

ul {
    list-style: none;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
    margin-left: 2rem;
    border: .015rem solid black;
    height: 2rem;
    width: 6rem;
    vertical-align: top;
    margin-top: 0.20rem;
    text-align: center;
    border: hidden;
    
}

.nav-item :active {
    border-style: none none line;
    color: var(--light-pink);
    border-bottom-width: 0.3rem;
    border-width: 1rem;
}

/* Theme Toggle */

.theme-toggle {
 
    height: 2rem;
    margin-left: 2rem;
    width: 2em;
}

.theme-button {
    display: flex;
    height: 1.75rem;
    width: 1.75rem;
}

/* Home */

.home-group {
    text-align: center;
    color: var(--dark-pink);
    background-color: var(--black-100);
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 2;
    padding-top: 1rem;
}

.home-section {
    margin-top: 0px;
    margin-left: 0px;
}

/* About */

.resume-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: var(--pink);
}

.about {
    justify-content: center;
    display: inline-block;
    width: 40%;
    line-height: 2;
    padding: 1.5rem;
}

/* .about-paragraph {
    text-align: left;
} */

/* Skills */

.skills {
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

/* Portfolio */

.portfolio {
    padding: 1rem;
    margin-bottom: 1rem;
}

.portfolio-paragraph {
    border-radius: 1rem;
    border-style: line;
    box-sizing: content-box;

}

.portfolio-link {
    padding: 1rem;
    color: var(--black-pink);
}

/* Contact Me */

.contact-text {
    opacity: .8;
}

.contact {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    box-sizing: content-box;
}

.name-box {
    margin-top: 2rem;
    padding: 1rem;
}
.name-field {
    width: 40%;
    height: 2rem;
    border-radius: .5rem;
    text-align: auto;
}

.email-box {
    padding: 1rem;
}

.email-field {
    height: 2rem;
    width: 40%;
    border-radius: .5rem;
}

.message-box {
    padding: 1rem;
}

#text-field {
    width: 40%;
    height: 10rem;
    border-radius: .5rem;
    font-size: 1rem;
    text-transform: wrap;
}

.submit-button {
    padding: .25rem;
    width: 15rem;
    justify-items: stretch;
}